<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Math Result</title>
</head>
<body>
  <h1>Math Service</h1>
  <p>
    The result of '<%= operation %>' on <%= op1 %> and <%= op2 %> is: <%= result %>
  </p>
</body>
</html>
